# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python tests
on:
  pull_request:
  push:
    branches:
      - master

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        platform: [macos-15-intel, macos-latest, ubuntu-24.04]
        python-version: ["3.11", "3.12", "3.13"]
    runs-on: ${{ matrix.platform }}

    steps:
    - uses: actions/checkout@v5
    - name: Install uv
      uses: astral-sh/setup-uv@v6
      with:
        enable-cache: true
        version: "latest"
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: uv sync --all-extras --dev
    - name: Run tests
      run: uv run pytest
